# Node modules
node_modules

# Adonis directory for storing tmp files
tmp

# Environment variables, never commit this file
# .env

# The development sqlite file
database/development.sqlite
.idea/vcs.xml
.idea/codeStyles/
.idea/dbnavigator.xml
.idea/preferred-vcs.xml
.idea/sonarlint/
lib/
